.footer {
    font-family: Montserrat;
    /* padding: 0 70px; */

    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #60b386;

    margin-top: 50px;
}

@media (max-width: 3000px) {
    .footer {
        padding: 0 100px;
    }
}

@media (max-width: 2400px) {
    .footer {
        padding: 0 70px;
    }
}

@media (max-width: 1600px) {
    .footer {
        padding: 0 50px;
    }
}

@media (max-width: 1200px) {
    .footer {
        padding: 0 40px;
    }
}

@media (max-width: 992px) {
    .footer {
        padding: 0 35px;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 0 25px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 0 20px;
    }
}